<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Homepage</title>
        <meta name="viewport" content="width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
        <script type="module" src="js/estilo.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/446cc17d13.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo"><img src="/img/aleh.png"></div>
                <div class="menu">
                    <nav>
                        <a href="homepage.html">Homepage</a>
                        <a href="Sobre mim.html">Sobre mim</a>
                        <a href="Notas.html">Notas</a>
                    </nav>
                </div>
                <div class="sociais">
                    <a href="https://wa.me/553197345911" target="_blank">
                        <button><i class="fa-brands fa-whatsapp"></i></button>
                    </a>
                    <a href="https://www.instagram.com/el_tech.01/" target="_blank">
                         <button><i class="fa-brands fa-instagram"></i></button>
                    </a>
                    <a href="https://www.facebook.com/alejandro.maia.549/?locale=pt_PT" target="_blank">
                       <button><i class="fa-brands fa-facebook"></i></button>
                    </a>
                    <a href="https://github.com/el-ale" target="_blank">
                        <button><i class="fa-brands fa-github"></i></button>
                    </a>
                    <a href="https://www.linkedin.com/in/alejandro-luis-8b679519b" target="_blank">
                        <button><i class="fa-brands fa-linkedin"></i></button>
                    </a>
                </div>
            </div>
        </header>

        <br/>
        <br/>
        <h1>Bem vindo(a) ao meu site!</h1>
        <br/>
        <br/>
        <div class="carrossel">
        <div class="carrossel-inner">
            <div class="carrossel-item active"><img src="/img/back-end.png" alt="Imagem 1"></div>
            <div class="carrossel-item"><img src="/img/ft2.png" alt="Imagem 2"></div>
            <div class="carrossel-item"><img src="/img/diploma-proz.png" alt="Imagem 3"></div>
            <div class="carrossel-item"><img src="/img/ft4.png" alt="Imagem 4"></div>
            <div class="carrossel-item"><img src="/img/ft5.png" alt="Imagem 5"></div>
        </div>
        <div class="carrossel-controls">
            <input type="radio" name="carrossel-control" id="control1" checked>
            <label for="control1"></label>
            <input type="radio" name="carrossel-control" id="control2">
            <label for="control2"></label>
            <input type="radio" name="carrossel-control" id="control3">
            <label for="control3"></label>
            <input type="radio" name="carrossel-control" id="control4">
            <label for="control4"></label>
            <input type="radio" name="carrossel-control" id="control5">
            <label for="control5"></label>
        </div>
        </div>
        <div class="main-footer" style="background-color: black;
                                                 color: white;">
        <p2>Desenvolvido por Alejandro L.</p2>
        </div>

    
    </body>
</html>