<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Homepage</title>
        <meta name="viewport" content="width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
        <script type="module" src="js/estilo.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/446cc17d13.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo"><img src="/img/aleh.png"></div>
                <div class="menu">
                    <nav>
                        <a href="Homepage.html">Homepage</a>
                        <a href="Sobre mim.html">Sobre mim</a>
                        <a href="Notas.html">Notas</a>
                    </nav>
                </div>
                <div class="sociais">
                    <a href="https://wa.me/553197345911" target="_blank">
                        <button><i class="fa-brands fa-whatsapp"></i></button>
                    </a>
                    <a href="https://www.instagram.com/el_tech.01/" target="_blank">
                         <button><i class="fa-brands fa-instagram"></i></button>
                    </a>
                    <a href="https://www.facebook.com/alejandro.maia.549/?locale=pt_PT" target="_blank">
                         <button><i class="fa-brands fa-facebook"></i></button>
                    </a>
                </div>
            </div>
        </header>

        <br/>
        <br/>
        <h1>Bem vindo(a) ao meu site!</h1>
        <br/>
        <br/>

        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1"/>
                <input type="radio" name="radio-btn" id="radio2"/>
                <input type="radio" name="radio-btn" id="radio3"/>
                <input type="radio" name="radio-btn" id="radio4"/>
                <input type="radio" name="radio-btn" id="radio5"/>
                <div class="slide first">
                    <img src="/img/ft1.png" alt="imagem 1"/>
                </div>
                <div class="slide">
                    <img src="/img/ft2.png" alt="imagem 2"/>
                </div>
                <div class="slide">
                    <img src="/img/ft3.png" alt="imagem 3"/>
                </div>
                <div class="slide">
                    <img src="/img/ft4.png" alt="imagem 4"/>
                </div>
                <div class="slide">
                    <img src="/img/ft5.png" alt="imagem 5"/>
                </div>
                #fim slide imagens#
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                    <div class="auto-btn5"></div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                    <label for="radio5" class="manual-btn"></label>
                </div>
            </div>
    </div>
        <div class="main-footer" style="background-color: black;
                                                 color: white;">
        <p2>Desenvolvido por Alejandro L.</p2>
        </div>

    
    </body>
</html>